body, html {height: 100%;}

div.card {border-radius: 10px; border: 1px solid; padding: 1%;}

footer {position: absolute; bottom: 100%;}

#wordHistCard {position: absolute;}

#wordsPerParagraphCard {position: absolute; left: 500px}

#scrapeRateCard {position: absolute; top: 500px;}

#documentMapCard {position: absolute; left: 500px; top: 500px; height: 450px; width: 450px;}

#documentMap {height: 100%; width: 100%;}